<h1>
  Name: <%= @team.name %>
</h1>
<h3>City: <%= @city.name %></h3>
<h3> Sport:
  <% if @team.football %>
    <%= "Football"%>
  <% else %>
    <%= "Baseball" %>
  <% end %>
</h3>

<h3>Players</h3>
<ul>

</ul>

<br>
<br>

<%= link_to "Edit Team", edit_city_team_path(@team.id) %>
